/**PORTATILES Y COMPUTADORES PEQUEÑOS*/
@media (min-width: 980px) and (max-width: 1600px) {
    /***Estilos para el card de suscripcion*/
    /*Card en especifico*/
    div#middleground .card{
        padding: 15px;
        width: 400px;
        margin: 16%;
    }
    /*Titulo: Suscribete*/
    #middleground .card div#form-title{
        font-size: 1.3em;
    }
    /*Este es para centrar el input y su titulo*/
    div#middleground .card #form-container .form-item{
        margin: 0 auto;
        width: 90%;
    }
    /*Titulo de cada input*/
    div#middleground .card #form-container .form-item h2{
        margin: 12px 0 4px;
        font-size: 1.2em;
    }
    /*Inputs*/
    div#middleground .card #form-container .form-item input{
        height: 30px;
    }
    /*Card enviar*/
    div#middleground .card #form-submit-button{
        margin: 16px;
        padding: 0; 
        margin-top: 25px;       
    }
    /*Estilos boton de enivar*/
    #middleground .card #form-submit-button button{
        font-size: 1.1em;
        padding: 6px;
    }
    /*Estilos externos al card de suscripcion (TEXTOS)*/
    /*Etilos del contenedor del Título*/
    div#title-container{
        top: -13%;
    }
    /*Título en sí*/
    div#title-container h1{
        width: 90%;
        font-size: 3em;
    }
    /*Contenedor del párrafo descriptivo*/
    div#parragraph-container{
        bottom: -56%;
    }
    /*Párrafo descriptivo*/
    div#parragraph-container p{
        width: 90%;
        font-size: 1.55em;
        padding: 13px;
    }
}

 
/***DISPOSITIVOS COMO TABLETS**/

@media (min-width: 615px) and (max-width: 979px) {
   /***Estilos para el card de suscripcion*/
    /*Card en especifico*/
    div#middleground .card{
        padding: 9px;
        width: 350px;
        margin: 12%;
        margin-top: 16%;
    }
    /*Titulo: Suscribete*/
    #middleground .card div#form-title{
        font-size: 1.2em;
    }
    /*Este es para centrar el input y su titulo*/
    div#middleground .card #form-container .form-item{
        margin: 0 auto;
        width: 90%;
    }
    /*Titulo de cada input*/
    div#middleground .card #form-container .form-item h2{
        margin: 12px 0 4px;
        font-size: 1.15em;
    }
    /*Inputs*/
    div#middleground .card #form-container .form-item input{
        height: 29px;
    }
    /*Card enviar*/
    div#middleground .card #form-submit-button{
        margin: 13px;
        padding: 0; 
        margin-top: 22px;       
    }
    /*Estilos boton de enivar*/
    #middleground .card #form-submit-button button{
        font-size: 1em;
        padding: 3px;
    }
    /*Estilos externos al card de suscripcion (TEXTOS)*/
    /*Etilos del contenedor del Título*/
    div#title-container{
        top: -23%;
    }
    /*Título en sí*/
    div#title-container h1{
        width: 90%;
        font-size: 2.4em;
    }
    /*Contenedor del párrafo descriptivo*/
    div#parragraph-container{
        bottom: -60%;
    }
    /*Párrafo descriptivo*/
    div#parragraph-container p{
        width: 90%;
        font-size: 1.35em;
        padding: 7px;
    }
} 

/***Estilos para celulares**/
/*Vamos a quitar las animaciones puesto que no son buenas para UX en un dispositivo movil*/
@media (max-width: 614px) {
    /*** *Quitar animaciones */
    div#title-container, div#parragraph-container{
        animation-duration: 0s;
    }
    /***Preservando efecto parallax*/
    .parallax-container{
        perspective: 9px;
    }
    div#title-container, div#parragraph-container{
        transform: translateZ(-4px) scale(1.4443);
    }
     
    /***Tamaños de fuentes y contenedores*/
    body{
        height: 100vh;
    }
    /*Estilos para el card de suscripcion*/
    /*Card en especifico*/
    div#middleground .card{
        padding: 9px;
        width: 275px;
        margin: 11%;
        height: 280px;
        margin-top: 27%;
    }
    /*Titulo: Suscribete*/
    #middleground .card div#form-title{
        font-size: .9em;
        margin-top: 0;
        padding-top: 3px;
    }
    #middleground .card div#form-title h1{
        margin: 0;
    }
    /*Este es para centrar el input y su titulo*/
    div#middleground .card #form-container .form-item{
        margin: 0 auto;
        width: 100%;
    }
    /*Titulo de cada input*/
    div#middleground .card #form-container .form-item h2{
        margin: 10px 0 4px;
        font-size: .95em;
    }
    /*Inputs*/
    div#middleground .card #form-container .form-item input{
        height: 23px;
    }
    /*Card enviar*/
    div#middleground .card #form-submit-button{
        margin: 12px;
        padding: 0; 
        margin-top: 20px;       
    }
    /*Estilos boton de enivar*/
    #middleground .card #form-submit-button button{
        font-size: .6em;
        padding: 3px;
    }
    /*Estilos externos al card de suscripcion (TEXTOS)*/
    /*Etilos del contenedor del Título*/
    div#title-container{
        top: -26%;
        padding: 7px;
        background-color: #c6e1e7;
    }
    /*Título en sí*/
    div#title-container h1{
        width: 90%;
        font-size: 1.9em;
    }
    /*Contenedor del párrafo descriptivo*/
    div#parragraph-container{
        bottom: -90%;
        margin: 0;
    }
    /*Párrafo descriptivo*/
    div#parragraph-container p{
        width: 90%;
        font-size: 1.25em;
        padding: 7px;
        margin-top: 20px;
    }
}
