/**PORTATILES Y COMPUTADORES PEQUEÑOS*/
@media (min-width: 980px) and (max-width: 1600px) {
    /***Estilos para el card de suscripcion*/
    /*Card en especifico*/
    div#middleground .card{
        padding: 15px;
        width: 400px;
        margin: 16%;
    }
    /*Titulo: Suscribete*/
    #middleground .card div#form-title{
        font-size: 1.3em;
    }
    /*Este es para centrar el input y su titulo*/
    div#middleground .card #form-container .form-item{
        margin: 0 auto;
        width: 90%;
    }
    /*Titulo de cada input*/
    div#middleground .card #form-container .form-item h2{
        margin: 12px 0 4px;
        font-size: 1.2em;
    }
    /*Inputs*/
    div#middleground .card #form-container .form-item input{
        height: 30px;
    }
    /*Card enviar*/
    div#middleground .card #form-submit-button{
        margin: 16px;
        padding: 0; 
        margin-top: 25px;       
    }
    /*Estilos boton de enivar*/
    #middleground .card #form-submit-button button{
        font-size: 1.1em;
        padding: 6px;
    }
    /*Estilos externos al card de suscripcion (TEXTOS)*/
    div#title-container{
        top: -13%;
    }
    div#title-container h1{
        width: 90%;
        font-size: 3em;
    }

    div#parragraph-container{
        bottom: -56%;
    }
    div#parragraph-container p{
        width: 90%;
        font-size: 1.55em;
        padding: 13px;
    }
}


/***DISPOSITIVOS COMO TABLETS**/
@media (min-widht: 560px) and (max-width: 970px) {
    
}