/*Upper clouds*/
.upper-clouds{
    background: #ffffffb5;
    border-radius: 75%;
    width: 33%;
    height: 33%;
    position: absolute;
}
/*First cloud*/
#upcl-1{
    bottom: 10;
    left: 154;
}
#upcl-2{
    bottom: 10;
    left: 54;
}
#upcl-3{
    bottom: 33;
    left: 85;
}
/*Second cloud*/
#upcl-4{
    right: 85;
    bottom: 33;
}
#upcl-5{
    right: 54;
}
#upcl-6{
    right: 134;
}

/*First cloud*/

/*Underneath clouds*/
.under-clouds{
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    position: absolute;
}
/*First cloud*/
#uc1{
    left: 58px;
    top: 68px;
}
#uc2{
    left: 78px;
    top: 38px;
}
#uc3{
    left:0px;
    top: 44px;
}
/*Second Cloud*/
#uc4{
    bottom: 30;
    right: 154px; 
}
#uc5{
    bottom: 30;
    right: 100px;
}
#uc6{
    right: 126;
    bottom: 50;
}
/*Third cloud*/
#uc7{
    left: 0;
    right: 0;
    margin: 60 auto;
}
#uc8{
   top: 98px;
   right: 248px;
}
#uc9{
    bottom: 158;
    left: 260;
}


/* Globes */
.ballon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}
#globe1{
    background-color: brown;
    top: 0; 
    left: 27;
}
#globe2{
    background-color: red;
    top: 90;
    right: 27;
}
#globe3{
    left: 245;
    top: 0;
    background-color: green;
}