body{
    margin: 0;
    height: 100vh; /*Todo lo que estamos viendo en ese momento = 100vh*/
    width: 100%;
    display: grid;
    place-items: center; /*Ultimas dos propiedades ayudan a que el contenido sea centrado vertical y horizontalmente*/
}
#container{
    border: 8px solid black;
    border-radius: 35px;
    position: relative;
    width: 800px;
    height: 500px;
    background-color: skyblue;
    box-shadow: 0 0 13px 3px black;
}
.layer{
    position:absolute;
}
.layer-1{
    border-radius: 50%;
    background-color: yellow;
    height: 25%;
    width: 22%;
    left: 24px;
    top: 15px;
    z-index: 1;
}
.layer-2{
    width: 100%;
    height: 19%;
    top: 88px; 
    z-index: 2;
}
.layer-3{
    width: 100%;
    height: 64%;
    bottom: 40px;
    z-index: 3;
}
.layer-4{
    width: 100%;
    height: 45%;
    bottom: 0;
    z-index: 4;
}






/*Upper clouds*/
.layer-1{
    animation: clouding-reverse 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}
.upper-clouds{
    background: #ffffffb5;
    border-radius: 75%;
    width: 33%;
    height: 33%;
    position: absolute;
    animation-name: clouding-reverse;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes clouding-reverse{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(34px, 0);
    }
}

/*First cloud*/
#upcl-1{
    bottom: 10;
    left: 154;
}
#upcl-2{
    bottom: 10;
    left: 54;
}
#upcl-3{
    bottom: 33;
    left: 85;
}
/*Second cloud*/
#upcl-4{
    right: 85;
    bottom: 33;
}
#upcl-5{
    right: 54;
}
#upcl-6{
    right: 134;
}


/*Underneath clouds*/
.under-clouds{
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    position: absolute;

    animation-name: clouding;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
    animation-iteration-count: infinite;
}
@keyframes clouding{
    0%{
        transform: translate(23px, 0)
    }
    25%{
        transform: translate(0, -30px)
    }
    50%{
        transform: translate(-90px, 60px)
    }
    75%{
        transform: translate(-90px, -60px);
    }
    100%{
        transform: translate(initial, initial);
        transform: perspective(initial);
        transform: skew(initial);
    }
}

/*First cloud*/
#uc1{
    left: 58px;
    top: 68px;
}
#uc2{
    left: 78px;
    top: 38px;
}
#uc3{
    left:0px;
    top: 44px;
}
/*Second Cloud*/
#uc4{
    bottom: 30;
    right: 154px; 
}
#uc5{
    bottom: 30;
    right: 100px;
}
#uc6{
    right: 126;
    bottom: 50;
}
/*Third cloud*/
#uc7{
    left: 0;
    right: 0;
    margin: 60 auto;
}
#uc8{
   top: 98px;
   right: 248px;
}
#uc9{
    bottom: 158;
    left: 260;
}

/* Globes */
.ballon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute; 
    animation-name: globing;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes globing{
    from{
        transform: translate(0, 0);
    }
    to{
        transform: translate(-30px, -280px);
    }

}
#globe1{
    background-color: greenyellow;
    top: 0; 
    left: 27;
}
#globe2{
    background-color: red;
    top: 90;
    right: 27;
}
#globe3{
    left: 245;
    top: 0;
    background-color: green;
}
#globe4{
    top: 9;
    right: 178;
    background: teal;
}
.canasta{
    height: 34px;
    width: 32px;
    position: absolute;
    bottom: -30;
    background: brown;
    left: 0;
    right: 0;
    margin: 0 auto;
}